body {
    background-color:rgb(255,255,255);
}

.content {
    border: 1px solid rgb(226,226,226);
    border-radius:15px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom:20px;
    text-align:center;
    font-family: 'Roboto Condensed', sans-serif;
    box-shadow: 1px 1px rgb(226,226,226);
    font-weight:300;
    color:rgb(111,112,107);
}

input {
    background-color:rgb(250,250,250);
    color:rgb(111,112,107);
}

.form-control {
    background-color:rgb(250,250,250);
    color:rgb(111,112,107);
}

h1 {
    color:rgb(255,16,255);
    font-family: 'Chau Philomene One', sans-serif;
}

.btn {
    font-family: 'Miriam Libre', sans-serif;
    background-color:rgb(255,16,255);
    border:0px;
}
