<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Hello, world!</h1>
    
    <div class="container">
      <div class="row">
        <div class="col">
          <form name="form" method='post'>
            <div class='form-group'>
              <label class='date'>
                      Date:
                  </label>
              <input type='date' class='form-control' name='transaction' title="date" min="2019-01-01" max="2019-12-31">
              <label class='label'>
                      Fee :
                  </label>
              <input type='number' step="0.01" class='form-control' name='fee' placeholder='0.00' onkeyup="calculateGST()">
              </label>
              <label class='label'>
                      Country:
                  </label>
              <select id="country" name='county' class='form-control selectpicker' data-live-search="true">
                          {%for d in country %}
                          <option value='{{ d['country'] }}' {%if d['country'] == country %}selected='selected'{%endif%}>{{ d['country'] }}</option>
                               {%endfor%}
              </select>
                <label class='label' >
                  Total Amount:
                </label>
                <input type="text" name="totalfee" step="0.01" disabled>
                <label class='label' >
                  GST:
                </label>
                <input type="text" name="gst" step="0.01" disabled>
              <input type='submit' class='btn btn-primary mt-3'>
              </div>
          </form>
          </div>
        </div>
      <div class="row">
        <div class="col">
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th>Date</th>
              <th>Total Amount</th>
              <th>GST</th>
            </tr>
          </thead>
          {%for r in data%}
          <tr>
            <tbody>
              <td>
                {{ r['description'] }}
              </td>
              <td>
                {{ r['cname'] }}
              </td>
              <td>
                {{ r['aname'] }}
              </td>
            </tbody>
          </tr>
          {%endfor%}
        </table>
      </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>