<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- custom -->
    <link href="https://fonts.googleapis.com/css?family=Aclonica|Chau+Philomene+One|Roboto+Condensed:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Miriam+Libre&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
        
    <title>Fees Submission</title>
  </head>
  <body>

    <div class="container content">
      <div class="row">
        <div class="col">
          <h1>FEES SUBMISSION</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <form name="form" method='post'>
            <div class='form-group'>
              <label class='date'>
                      Date:
                  </label>
              <input type='date' class='form-control' name='date' title="date" min="2019-01-01" max="2019-12-31">
              <label class='label'>
                      Country:
                  </label>
              <select id="country" name='country' class='form-control selectpicker' data-live-search="true">
                          {%for d in country %}
                          <option value='{{ d['id'] }}' {%if d['id'] == id %}selected='selected'{%endif%}>{{ d['country'] }}</option>
                               {%endfor%}
              </select>
              <label class='label'>
                  Fee :
              </label>
              <input type='number' step="0.01" class='form-control' name='fee' placeholder='0.00' min="0.00" onkeyup="calculateGST()">
              <br>
              <div class="row">
                <div class="col-12 col-md-6">
                  <label class='label' >
                    Total Amount:
                  </label>
                  <br>
                  <input type="number" placeholder='0.00' min="0.00" name="totalfee" readonly>
                </div>
                <div class="col-12 col-md-6">
                  <label class='label' >
                    GST:
                  </label>
                  <br>
                  <input type="number" placeholder='0.00' min="0.00" name="gst" readonly>
                </div>
              </div>
                <br>
              <input type='submit' class='btn btn-dark mt-3'>
              </div>
          </form>
          </div>
        </div>
      <div class="row">
        <div class="col">
        <h1>HISTORY</h1>
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th>Date</th>
              <th>Total Amount</th>
              <th>GST</th>
            </tr>
          </thead>
          {%for r in results%}
          <tr>
            <tbody>
              <td>
                {{ r['date'] }}
              </td>
              <td>
                {{ r['symbol'] }}{{ r['totalfee'] }}
              </td>
              <td>
                {{ r['symbol'] }}{{ r['gst'] }}
              </td>
            </tbody>
          </tr>
          {%endfor%}
        </table>
      </div>
      </div>
    </div>

    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>